In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [2]:
# Read School Data File and store into Pandas DataFrame
school_data = pd.read_csv(school_data_to_load)
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [3]:
# Read School Data File and store into Pandas DataFrame
student_data = pd.read_csv(student_data_to_load)
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [4]:
# Combine the data into a single dataset.  
school_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [5]:
#Calculate total number of schools in the district
total_schools = school_df["school_name"].nunique()
total_schools

15

In [6]:
#Calculate the total number of students in the district
total_students = school_df["Student ID"].nunique()
total_students

39170

In [7]:
#Calculate the total budget
school_budgets = school_df["budget"].unique()
total_budget = school_budgets.sum()
total_budget

24649428

In [8]:
#Calculate the average math score
avg_math_scores = school_df["math_score"].mean()
avg_math_scores

78.98537145774827

In [9]:
#Calculate the average reading score
avg_reading_scores = school_df["reading_score"].mean()
avg_reading_scores

81.87784018381414

In [10]:
#Calculate the percentage of students with a passing math score (70 or greater)
passing_math_df = school_df.loc[school_df["math_score"] >= 70]

students_passed_math = passing_math_df["Student ID"].nunique()

#Calculate the percentage of students passing math
percent_passing_math = students_passed_math / total_students
percent_passing_math

0.749808526933878

In [11]:
#Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading_df = school_df.loc[school_df["reading_score"] >= 70]

students_passed_reading = passing_reading_df["Student ID"].nunique()

#Calculate the percentage of students passing math
percent_passing_reading = students_passed_reading / total_students
percent_passing_reading

0.8580546336482001

In [12]:
#Calculate the percentage of students with a passing reading AND math score (70 or greater)
passing_df = school_df.loc[(school_df["reading_score"] >= 70) & (school_df["math_score"] >= 70)]

students_passed_both = passing_df["Student ID"].nunique()
percent_passing_both = students_passed_both / total_students
percent_passing_both

0.6517232575950983

In [13]:
#Create a summary df to store district results
district_df = pd.DataFrame({"Total Schools": [total_schools],
                            "Total Students": total_students,
                            "Total Budget": total_budget,
                            "Average Math Score": avg_math_scores,
                            "Average Reading Score": avg_reading_scores,
                            "% Passing Math": percent_passing_math,
                            "% Passing Reading": percent_passing_reading,
                            "% Overall Passing": percent_passing_both})

#Formatting the fields in the district df
district_df["Total Budget"] = district_df["Total Budget"].astype(float).map("${:,.2f}".format)
district_df["Average Math Score"] = district_df["Average Math Score"].astype(float).map("{:,.2f}".format)
district_df["Average Reading Score"] = district_df["Average Reading Score"].astype(float).map("{:,.2f}".format)
district_df["% Passing Math"] = district_df["% Passing Math"].astype(float).map("{:.2%}".format)
district_df["% Passing Reading"] = district_df["% Passing Reading"].astype(float).map("{:.2%}".format)
district_df["% Overall Passing"] = district_df["% Overall Passing"].astype(float).map("{:.2%}".format)

district_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,"$24,649,428.00",78.99,81.88,74.98%,85.81%,65.17%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [17]:
school_groups = school_df.groupby(["school_name"])

school_comp_df = school_groups.sum()
school_comp_df

,Student ID,reading_score,math_score,School ID,size,budget
school_name,,,,,,
Bailey High School,101303896,403225,383393,34832,24760576,15549641728
Cabrera High School,31477307,156027,154329,11148,3452164,2009159448
Figueroa High School,12949059,239335,226223,2949,8696601,5557128039
Ford High School,99055935,221164,211184,35607,7502121,4831365924
Griffin High School,19077394,123043,122360,5872,2155024,1346890000
Hernandez High School,46090440,375131,358238,13905,21483225,14007062700
Holden High School,9846620,35789,35784,3416,182329,105933149
Huang High School,4252986,236810,223528,0,8508889,5573322295
Johnson High School,154327815,385481,366942,57132,22667121,14733628650
Pena High School,22851829,80851,80654,8658,925444,563595396
Rodriguez High School,112111965,322898,307294,43989,15992001,10186904637
Shelton High School,11879706,147441,146796,3522,3101121,1860672600
Thomas High School,62705520,137093,136389,22890,2673225,1705517550
Wilson High School,33950493,191748,190115,11415,5212089,3012587442
Wright High School,45243900,151119,150628,18000,3240000,1888920000

In [18]:
# school_comp_df["Passing Math"] = students_passed_math
# school_comp_df

,Student ID,reading_score,math_score,School ID,size,budget,Passing Math
school_name,,,,,,,
Bailey High School,101303896,403225,383393,34832,24760576,15549641728,29370
Cabrera High School,31477307,156027,154329,11148,3452164,2009159448,29370
Figueroa High School,12949059,239335,226223,2949,8696601,5557128039,29370
Ford High School,99055935,221164,211184,35607,7502121,4831365924,29370
Griffin High School,19077394,123043,122360,5872,2155024,1346890000,29370
Hernandez High School,46090440,375131,358238,13905,21483225,14007062700,29370
Holden High School,9846620,35789,35784,3416,182329,105933149,29370
Huang High School,4252986,236810,223528,0,8508889,5573322295,29370
Johnson High School,154327815,385481,366942,57132,22667121,14733628650,29370
Pena High School,22851829,80851,80654,8658,925444,563595396,29370
Rodriguez High School,112111965,322898,307294,43989,15992001,10186904637,29370
Shelton High School,11879706,147441,146796,3522,3101121,1860672600,29370
Thomas High School,62705520,137093,136389,22890,2673225,1705517550,29370
Wilson High School,33950493,191748,190115,11415,5212089,3012587442,29370
Wright High School,45243900,151119,150628,18000,3240000,1888920000,29370

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type